*.pyc
*.db
*~
.*
*.py.bak

.DS_Store
/playground/
/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*

!.github
!.gitignore
!.pre-commit-config.yaml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/